body {
    background-color: #f0f0f0;
}

.main-container {
    margin: auto;
    margin-top: 3rem;
    border-radius: 0 0 10rem 0;
    width: 80%;
    height: 30rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.9rem;
    position: relative;
}

.main-container img {
    background-color: blueviolet;
    padding: 0.5rem;
    border-radius: 50%;
    width: 4%;
    position: absolute;
    right: 8rem;
    top: 4rem;
}

.input-boxes-container {
    display: flex;
    margin-right: 10rem;

}

.input-boxes-container label {
    font-weight: 300;
    font-size: 0.5rem;
    color: gray;
}

.input-style {
    flex-grow: 1;
    flex-basis: 30%;
    width: 90%;
    padding: 0.5rem 0;
    outline: none;
    border: 0.1px solid lightgray;
    
}

.input-style::placeholder {
    color: gray;
    font-weight: 800;
    padding-left: 10px;
  }


.hr-line {
    height: 1px;
    background-color: lightgray;
    width: 80%;
    margin-top: 1.5rem;
}